@import '~antd/lib/style/themes/default.less';



.main {
  max-width: 800px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .title {
    font-family:"汉仪大黑简" !important; 
    text-align:center;
    padding-bottom:20px;
    h1 {
        text-decoration: none;
        color:#003359; 
        font-size:30px;
        font-weight: blod;
        line-height:80px;
      }
  }

   .form {
     .ant-form-item {
        margin: 0 2px 24px;
      }
     .text {
        
        input {
            color:#727272; 
            font-size:18px;
            width:86%;
            height:60px; 
            line-height:60px; 
            padding-left:10px; 
            padding-right:10px; 
        }
           
     }
     .submit_btn{
        margin:0 auto; 
        width:70%; 
        height:60px; 
        background:#0182aa;
        font-family:"Arial"; 
        color:#fff; 
        font-size:24px;
        text-align:center; 
        border-radius:30px;
     }

   }
   .tips{width:100%; margin-top:40px;font-family:"汉仪中黑简";}
.tips .tips-left{display:inline-block;width:55%;height:30px; text-align:right;  color:#003359; font-size:16px;line-height:30px;}
.tips .tips-right{ display:inline-block;width:35%;text-align:left;}
.tips .tips-right .btn-red{text-align:center; width:80%; height:30px; background:#f5616f;color:#fff; font-size:16px;line-height:30px;border-radius:15px; }
  
}
